<div class="row">
    <div class="col-12 col-lg-6 pb-4 pb-md-0 variations">
        {{ fields|raw }}
    </div>
    <div class="col-12 col-lg-6">
        <div class="bg-gray-100 rounded p-5 mb-3">
        </div>
    </div>
</div>
