<div class="row">
    <div class="col-12 col-lg-6">
        {{ fields|raw }}
    </div>
    <div class="col-12 col-lg-6 pb-4 pb-lg-0">
        <div class="border border-gray-200 rounded h-100 position-relative url-preview"
             style="max-height: 250px; min-height: 250px;">
            <div class="action-url-preview-container h-100">
                <div class="d-flex justify-content-center h-100">
                    {{ url_preview_btn|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
